spring:
  application:
    name: ticket-management-system

  datasource:
    url: jdbc:mysql://localhost:3306/ticket_management_db
    username: root
    password: Root@123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: 8080

jwt:
  secret: "9f3b8a1d7c4e2a9f3b8a1d7c4e2a9f3b8a1d7c4e2a"
  expiration: 86400000
